body{
    font-family: 'Times New Roman', serif;
}


.q1-text, .q2-text, .q3-text, .q4-text, .q5-text, .q6-text, .q7-text, .q8-text, .q9-text, .q10-text
{
    font-size: 35px;
    font-weight: 600px;
    font-family: 'poppins italic', serif;
    background-color: rgba(240, 246, 246, 0.2);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15x);

    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 20px 35px;
    display: inline-block
    
}