
.q1-text{
    font-size: 50px;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
}
.q2-text{
    font-size: 50px;
    font-weight: bold;

}
.q3-text{
    font-weight: bold;
    font-size: 50px;
}
.q4-text{
    font-weight: bold;
}
.q5-text{
    font-weight: bold;
}

.q6-text{
    font-weight: bold;
}
.q7-text{
    font-weight: bold;
}
.q8-text{
    font-weight: bold;
}
.q9-text{
    font-weight: bold;
}
.q10-text{
    font-weight: bold;
}
